.lang_section {
    border: 1px solid black;
    width: 15%;
    text-align: center;
    position: relative;
    margin-left: 20px;
}
.lang_section:hover .lang_buttons {
    opacity: 1;
}
.lang_buttons {
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    padding-top: 10px;
}